.projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.project {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 5px;
}

.project .project-img {
  width: 450px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .project-text {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}